@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-screen;
  }

  body {
    @apply antialiased text-gray-800 font-rubik;
  }

  a {
    @apply text-blue-400 cursor-pointer;
  }

  button :focus:not(.focus-visible) {
    outline: none;
  }

  thead tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  thead tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
  }
  tbody tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
  }
}

@layer components {
  .btn {
    @apply h-12 px-6 leading-6 tracking-widest text-center text-white uppercase bg-blue-500 rounded-md whitespace-nowrap;
  }

  .base-input {
    @apply h-8 p-4 border border-gray-200;
  }

  .btn[disabled] {
    @apply cursor-not-allowed opacity-30;
  }

  ul.list-horizontal {
    @apply inline;
  }

  ul.list-horizontal > li {
    @apply inline-block;
  }

  ul.list-horizontal :not(:last-child) {
    @apply px-3 border-r-2;
  }

  ul.list-horizontal :first-child {
    @apply px-0 pr-2;
  }

  ul.list-horizontal :last-child {
    @apply px-0 pl-2;
  }

  /* tabs */
  [data-reach-tab-list] {
    @apply my-2;
  }

  [data-reach-tab-list] :not(:last-child) {
    @apply pr-6 border-r;
  }

  [data-reach-tab-list] :not(:first-child) {
    @apply pl-6;
  }
  [data-reach-tab] {
    @apply text-gray-400;
  }

  [data-reach-tab][disabled] {
    @apply text-gray-200;
  }

  [data-reach-tab][data-selected] {
    @apply text-gray-800;
  }
}